

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 150px;
    width: 100%;
    overflow: hidden;
    background-color: white;
    border-bottom: 1px cyan;
    }

.orange {
    border-bottom: 3px solid orangered;
}

li {
    float: right;
    padding-top: 50px;
    padding-right: 50px;
}

.logo {
    float: left;
    border-bottom: none;
}

li a {
    display: inline-block;
    color: gray;
    text-align: center;
    text-decoration: none;
    overflow: hidden;    
}

.link li a {
    padding-bottom: 3px;
    border-bottom: 3px solid orangered;
    transition: all .2s ease-in;
}

.link li a:hover {
    transition: all .2s ease-in;
    border-bottom: 3px solid green;
}


li a:hover:not(.active) {
    text-decoration: none;
    color: darkblue;
}

.server {
    margin-top: 20px;
    text-align: center;
    font-size: 30px;
}

.space {
    margin-top: 50px;
    text-align: center;
    font-family: 'Nunito Sans';
}

.container-fluid {
    height: 500px;
    background: black;
}


.topcontainer {
    background: url(../img/minecraft.jpg) no-repeat;
    background-size: initial;
}


.title {
    font-family: 'Sigmar One';
    font-size: 50px;
}

.subtitle {
    line-height:
    margin-bottom: 1px;
    margin-top: -30px;
    font-size: 30px;
    color: grey;
}

.experience {
    color: white;
    font-size: 32px;
    padding-left: 100px;
    padding-top: 80px;
    font-family: "Glegoo";
}

.wrapper {
    width: 550px;
    padding-left: 40px;
    overflow: hidden;
}

.description {
    display: flex;
    color: white;
    padding-top: 10px;
    padding-left: 100px;
    font-family: 'Nunito Sans';
    font-size: 15px;
    width: 500px;
    
}

.btn {
    margin-left: 100px;
    margin-top: 30px;
}

span {
    color: orangered;
}

.squares {
    display: inline-block;
    height: 250px;
    width: 225px;
    background-color: #0f0f0f;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;
    overflow: hidden;
}

.profile {
    border-radius: 60%;
    width: 80px;
    height: 80px;
    margin-left: 75px;
    margin-top: 25px;
}


.name {
    margin-top: 20px;
    border-bottom: 2px solid orangered;
    width: 45px;
    margin-left: 90px;
    padding-bottom: 10px;
    color: white;
    font-family: "Nunito Sans";
}

.role {
    margin-left: 80px;
    font-size: 20px;
    margin-top: 10px;
    font-family: "Nunito Sans";
    color: white;
}

.stafflead {
    padding-top: 7%;
    padding-left: 40%;
    font-size: 150px;
}

.aboutus {
    height: 850px;
    background: url("../img/templ.jpg") no-repeat;
    background-size: cover;
    position: relative;
}

.servername {
    font-size: 100px;
    font-family: 'Arima Madurai';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orangered;
}

.slogan {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: orangered;
}

#letter {
    color: darkred;
    font-weight: bold;
    font-size: 100px;
    margin-right: 15px;
    border-style: solid;
    border-width: 3px;
        padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 5px;
}

.footy {
    border-top: 4px solid orangered;
    margin-top: 100px;
}




@media screen and (max-width: 887px) {
    
    li {
    padding-right: 15px;
    font-size: 13px;
    }

    .description {
        width: 300px;
        padding-top: 5px;
        padding-left: 60px;
    }

    .col-sm-4 {
        margin-bottom: 10px;
        height: 100%;
        width: 100%;
        background-color: orangered;
        border: 2px;
    }

    .experience {
        padding-left: 60px;
        padding-top: 20px;
    }

    .btn {
    margin-top: 10px;
    margin-left: 60px;
 }

 .squares {
    margin-left: 0px;
    margin-right: 0px;
    overflow: hidden;
}

.stafflead {
    padding-top: 25%;
    font-size: 120px;
        }
}

@media screen and (max-width: 320px) {
    .stafflead {
        font-size: 100px;
        position: relative;
        left: -25px;
        top: 50px;
    }
